<div id="auth">
	<div class="form-box">
		<a
			class="back-button btn p-0"
			data-toggle="tooltip"
			data-placement="bottom"
			title="Back to homepage"
			routerLink="/"
		>
			<i class="bx bx-arrow-back"></i><br>
		</a>
		<div>
			<h2 class="m-0 text-muted">
				TMM Semi-pro League
			</h2>
			<h1 class="display-3 mb-0">
				LIFE IS A <span class="text-primary">COMPETITION</span>
			</h1>
			<p>
				Join the fastest growing amature e-sport league
			</p>
			<app-alert></app-alert>
			<div class="form">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
	<div class="right-border primary"></div>
	<div class="right-border secondary"></div>
	<p id="photo-by">
		Photo by Fredrick Tendong
	</p>
</div>