<form [formGroup]="loginForm">
	<h2>
		<i class="far fa-user"></i>
		Login
	</h2>
	<hr>
	<div class="form-group">
		<label for="login">Login</label>
		<input
			id="login"
			type="text"
			class="form-control"
			formControlName="login"
		>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input
			id="password"
			type="password"
			class="form-control"
			formControlName="password"
		>
	</div>
	<div class="mt-2">
		<button class="btn btn-success">
			Login
		</button>
	</div>
	<div class="mt-2">
		<a routerLink="/auth/register">You don't have an account?</a>
	</div>
</form>